<body>
    <nav class="menu">
        <ul>
            <li><img id="nodeimage" src=https://nodejs.org/static/images/logo.svg></li>
            <li><a class="%%HOME_ACTIVE%%" href="/">Frontpage</a></li>
            <li><a class="%%INTRO_ACTIVE%%" href="/introduction">Introduction - Lesson 1</a></li>
            <li><a class="%%FIRST_ACTIVE%%" href="/firstserver">First Server - Lesson 2</a></li>
            <li><a class="%%SERVING_ACTIVE%%" href="/servinghtml">Serving HTML - Lesson 3</a></li>
            <li><a class="%%SSR_ACTIVE%%" href="/ssr">Server Side Rendering - Lesson 4</a></li>
            <li><a class="%%EXPRESS_ACTIVE%%" href="/notesexpress">Express - Lesson 5</a></li>
        </ul>
    </nav>
    <div class="bigdiv">