<body>
    <nav class="menu">
        <ul>
            <li><a class="%%HOME_ACTIVE%%" href="/">Frontpage</a></li>
            <li><a class="%%INTRO_ACTIVE%%" href="/introduction">Introduction</a></li>
            <li><a class="%%FIRST_ACTIVE%%" href="/firstserver">First Server</a></li>
            <li><a class="%%SERVING_ACTIVE%%" href="/servinghtml">Serving HTML</a></li>
            <li><a class="%%SSR_ACTIVE%%" href="/ssr">SSR</a></li>
            <li><a class="%%EXPRESS_ACTIVE%%" href="/notesexpress">Express</a></li>
        </ul>
    </nav>
    <div class="bigdiv">