  body {
    margin:0;  
    background-color: #6a645193;
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: rgba(202, 194, 194, 0.754);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover:not(.active) {
    background-color: #111;
  }
  
  .active {
    background-color: #4c5c56;
  }

  .bigdiv {
  margin-top: 50px;
  height: 1500px;
  }

  pre code {
    display: inline-block;
    font-size: 13px;
    line-height: 1.30769231;
    border-radius: 5px;
    margin: 0;
    padding: 12px;
    overflow: auto;
    background-color: #6a64515d;
  }